body {
    background-color:black;
    color: white;
}

.left {
    color: red;
    width:39.5%;
    float:left;
    border-style: solid;
    height:100%;
}

.middle {
    color: blue;
    width:59.5%;
    border-style:solid;
    float: right;
    height:100%;
}

button {
    color:blue;
    background-color: darkred;
}

a {
    text-decoration: none;
}